<head>
<style>
	body{background-image:linear-gradient(white,pink);}
</style>
</head>
<body>
<nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/display">Option 1</a></li>
            <li><a href="/type">Option 2</a></li>
            <li><a href="/totalbase">Option 3</a></li>
            <li><a href="/minstat">Option 4</a></li>
			<li><a href="/legendary">Option 5</a></li>
			<li><a href="/insert">Option 6</a></li>
			<li><a href="/HP">Option 7</a></li>
        </ul>
</nav>
    <h1>Display all legendary Pokemons of Types of the trainer’s choice</h1>
    <p>Types of pokemon to display legendary?</p>
    <div>
        <form method="post" action="/legendary">
            <label for="user_type1"></label>
            <input type="text" id="user_type1" name="user_type1" placeholder="type 1">
            <br>
	
			<label for="user_type2"></label>
            <input type="text" id="user_type2" name="user_type2" placeholder="type 2">
            <br>
			
            <input type="submit" class="button" value="Submit">
        </form>
    </div>
    <table>
        
        <!-- display pokemon -->
        {% for i in display %}
        <tr>
            {% for row in i %}
                <td>{{ row }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>